.product-list-container {
    text-align: center;
    margin: 20px;
  }
  
  .product-list-title {
    font-size: 24px;
    color: #333;
  }
  
  .product-list-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
  }